.comments {
  margin-top: 50px;
}

.comments_title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}

.comments_write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.comments_input {
  padding: 20px;
  width: 100%;
}

.comments_button {
  padding: 16px 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments_boxcontainer {
  margin-top: 50px;
}

.comment {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment_user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment_image {
  border-radius: 50%;
  object-fit: cover;
}

.comment_userinfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.comment_username {
  font-weight: 500;
}

.comment_date {
  font-size: 14px;
}

.comment_desc {
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 645px) {
  .comment_desc {
    font-size: 15px;
  }
}
