.blogpage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blogpage_title {
  background-color: coral;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.content {
  display: flex;
  gap: 50px;
}
